@model IEnumerable<sales_management.ModelView.DisplayInvoicsModelView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="print" asp-route-id="@item.Id">print</a> |
            </td>
        </tr>
}
    </tbody>
</table>
